<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AsteroMiner AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg-black text-white">

    <div class="container">
        <div class="content">
            <div class="intro grid">
                <div class="text-content">
                    <h1>AsteroMiner AI 🌌🤖</h1>
                    <h2>Your Gateway to Asteroid Mining!</h2>
                    <p>Unlock the cosmos with AsteroMiner AI, merging advanced tech, AI, and real-time data for
                        smarter, more efficient asteroid mining.</p>

                    <div class="features">
                        <h3>Discover AsteroMiner AI:</h3>
                        <ul>
                            <li>✨ Analyze asteroids to find prime mining targets.</li>
                            <li>🌌 Access real-time data from top space agencies.</li>
                            <li>🔍 Get personalized mining strategies for optimal results.</li>
                            <li>📈 Receive feasibility reports on material value and costs.</li>
                            <li>🛠️ Plan missions with automated tools and equipment suggestions.</li>
                            <li>🌍 Promote sustainable, responsible mining practices.</li>
                        </ul>
                    </div>
                </div>

                <div class="form-container card">
                    <h2>Asteroid Parameters</h2>
                    <form method="POST" action="/analyze">
                        <label for="absolute_magnitude">Absolute Magnitude:</label>
                        <input type="text" id="absolute_magnitude" name="absolute_magnitude" required><br>

                        <label for="albedo">Albedo:</label>
                        <input type="text" id="albedo" name="albedo" required><br>

                        <label for="eccentricity">Eccentricity:</label>
                        <input type="text" id="eccentricity" name="eccentricity" required><br>

                        <label for="aphelion_distance">Aphelion Distance:</label>
                        <input type="text" id="aphelion_distance" name="aphelion_distance" required><br>

                        <button type="submit">Analyze</button>
                    </form>
                </div>
            </div>

            {% if asteroid_details %}
            <div class="results grid">
                <div class="card scrollable">
                    <h3>Asteroid Details</h3>
                    <p>
                        <strong>Name:</strong> {{ asteroid_details.Name }}<br>
                        <strong>Short Name:</strong> {{ asteroid_details.ShortName }}<br>
                        <strong>Orbit Class:</strong> {{ asteroid_details.OrbitClass }}<br>
                        <strong>Effective Diameter:</strong> {{ asteroid_details.dia }}<br>
                        <strong>Orbit ID:</strong> {{ asteroid_details.OrbitID }}<br>
                        <strong>Potentially Hazardous:</strong> {{ asteroid_details.pha}}<br>
                        <strong>Absolute Magnitude:</strong> {{ asteroid_details.H}}<br>
                        <strong>Dimensions:</strong> {{ asteroid_details.Dimensions }}<br>
                        <strong>Effective Diameter:</strong> {{ asteroid_details.dia }}<br>
                        <strong>Magnitude Slope:</strong> {{ asteroid_details.G }}<br>
                        <strong>Rotation Period:</strong> {{ asteroid_details.RotationPeriod }}<br>
                        <strong>Eccentricity:</strong> {{ asteroid_details.eccentricity }}<br>
                        <strong>Perihelion:</strong> {{ asteroid_details.perihelion }}<br>
                        <strong>Aphelion:</strong> {{ asteroid_details.aphelion }}<br>
                        <strong>Geometric Albedo:</strong> {{ asteroid_details.Albedo }}<br>
                        <strong>Bulk Density:</strong> {{ asteroid_details.BulkDensity }}<br>
                        <strong>Inclination:</strong> {{ asteroid_details.inclination }}<br>
                        <strong>Argument of Perihelion:</strong> {{ asteroid_details.args}}<br>
                        <strong>Longitude of the Ascending Node:</strong> {{ asteroid_details.longi}}<br>
                    </p>
                </div>

                <div class="card scrollable">
                    <h3>Mining Instructions</h3>
                    <p>{{ mining_instructions|safe }}</p>
                </div>
            </div>

            <div class="card scrollable">
                <h3>Mining Recommendation</h3>
                <p>{{ mining_recommendation|safe }}</p>
            </div>
            {% endif %}
        </div>
    </div>

</body>

</html>
